name: "Danfoss Icon"
description: "Danfoss Icon Master Controller Addon"
version: "0.2.2"
slug: "danfoss"
init: false
url: "https://github.com/soundvibe/ha-danfoss"
homeassistant_api: true
webui: "http://[HOST]:[PORT:9199]"
watchdog: "http://[HOST]:[PORT:9199]/health"
map:
  - share:rw
ports:
  9199/tcp: 9199
options:
  haUpdatePeriodInMinutes: 1
  sensorNameFmt: "sensor.danfoss_%d_temperature"
schema:
  haUpdatePeriodInMinutes: "int(1,60)"
  sensorNameFmt: str
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386